---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Le pavillon gourmand">
  <div class="bg-[#251715] w-full h-screen p-6">
    <div class="flex flex-col h-full justify-center items-center">
      <h1 class="uppercase text-white font-bold text-3xl font-changa">
        Page non trouvée
      </h1>
      <Button href="/">
        Retour à l'accueil
      </Button>
    </div>
  </div>
</Layout>
