---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Le pavillon gourmand">
  <div class="bg-[#251715] w-full h-screen p-6">
    <div class="flex flex-col h-full justify-center items-center">
      <h1 class="uppercase text-white font-bold text-3xl font-changa">
        Page non trouvée
      </h1>
      <button
        class="block text-white border border-white px-4 py-2 transition duration-300 ease-in-out hover:bg-white hover:text-black mt-2"
      >
        <a href="/">Retourner au site</a>
      </button>
    </div>
  </div>
</Layout>
