---
import Layout from "../layouts/Layout.astro";
import Location from "../components/Location.astro";
import SplitSection from "../components/SplitSection.astro";
import Hero from "../components/Hero.astro";
import HeroImage from "../assets/images/clos-des-sens-sept-2018-reportage-77.jpg";
import HeroMobileImage from "../assets/images/clos-des-sens-sept-2018-reportage-77-mobile.jpg";
---

<Layout
  title="Contact | Le pavillon gourmand"
  metadescription="Contactez nous par téléphone ou par email. Découvrez les horaires d'ouvertures de notre restaurant gastronomique à Annecy."
>
  <Hero
    currentPage="/contact"
    bgImage={HeroImage}
    bgImageMobile={HeroMobileImage}
  />
  <SplitSection title="Accès" bgColor="#1E1E1E">
    13 rue Jean Mermoz
    <br />
     74940 Annecy-le-Vieux, FRANCE
    <Location slot="right" />
  </SplitSection>
  <SplitSection title="Contact" bgColor="#000000">
    <a href="tel:+330450230790">Tél. : +33 (0)4 50 23 07 90</a>
    <button
      class="block text-white border border-white px-4 py-2 transition duration-300 ease-in-out hover:bg-white hover:text-black mt-2"
    >
      <a href="mailto:lepavillongourmand@gmail.com">Envoyer un email</a>
    </button>
    <p>
      Merci de préciser votre nom, prénom, numéro de téléphone, ainsi que votre
      message.
    </p>
    <div
      slot="right"
      class="text-[#f2f2f2] p-8 md:p-16 w-full text-lg leading-10"
    >
      <h2 class="uppercase font-bold text-5xl mb-2 font-changa">Services</h2>
      <ul class="md:w-1/2 font-open">
        <li>
          <span>Mardi</span><span>soir</span>
        </li>
        <li>
          <span>Mercredi</span><span>midi & soir</span>
        </li>
        <li>
          <span>Jeudi</span><span>midi & soir</span>
        </li>
        <li>
          <span>Vendredi</span><span>midi & soir</span>
        </li>
        <li>
          <span>Samedi</span><span>midi & soir</span>
        </li>
        <li>
          <span>Dimanche</span><span>midi</span>
        </li>
      </ul>
    </div>
  </SplitSection>
</Layout>

<style>
  ul > li {
    display: flex;
  }
  ul > li > span:first-child {
    width: 40%;
  }
</style>
