---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import SplitSection from "../components/SplitSection.astro";
import Hero from "../components/Hero.astro";
import HeroImage from "../assets/images/clos-des-sens-sept-2018-reportage-77.jpg";
import TerroirImage from "../assets/images/le+clos+des+sens+juin+2022+salle-37.jpg";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact | Le pavillon gourmand">
  <main>
    <Hero bgImage={HeroImage} />
    <SplitSection title="Accès" bgColor="#1E1E1E" bgImage={TerroirImage}>
      13 rue Jean Mermoz
      <br />
       74940 Annecy-le-Vieux, FRANCE
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2775.6746100882024!2d6.1418481118441095!3d45.917815102938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b8f97b4101279%3A0x418b6fff14048374!2s13%20Rue%20Jean%20Mermoz%2C%2074940%20Annecy!5e0!3m2!1sfr!2sfr!4v1702720608987!5m2!1sfr!2sfr"
        slot="right"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </SplitSection>
    <SplitSection title="Contact" bgColor="#000000" bgImage={TerroirImage}>
      <ContactForm slot="left" />
      <div
        slot="right"
        class="text-[#f2f2f2] p-8 md:p-16 max-w-xl text-lg leading-10"
      >
        <div class="mb-6">
          <h2 class="uppercase font-bold text-3xl mb-2">Nous contacter</h2>
          <a href="tel:+330450230790">Tél. : +33 (0)4 50 23 07 90</a>
        </div>
        <div>
          <h2 class="uppercase font-bold text-3xl mb-2">Services</h2>
          <ul>
            <li class="flex justify-between">
              <span>Mardi</span><span>soir</span>
            </li>
            <li class="flex justify-between">
              <span>Mercredi</span><span>midi & soir</span>
            </li>
            <li class="flex justify-between">
              <span>Jeudi</span><span>midi & soir</span>
            </li>
            <li class="flex justify-between">
              <span>Vendredi</span><span>midi & soir</span>
            </li>
            <li class="flex justify-between">
              <span>Samedi</span><span>midi & soir</span>
            </li>
            <li class="flex justify-between">
              <span>Dimanche</span><span>midi</span>
            </li>
          </ul>
        </div>
      </div>
    </SplitSection>
    <Footer />
  </main>
</Layout>
