---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Lieu from "../components/Lieu.astro";
import Location from "../components/Location.astro"
import SplitSection from "../components/SplitSection.astro";
import HeroImage from "../assets/images/cortil_septembre_2017.jpg";
import Ecrevisse2Image from "../assets/images/clos-des-sens-juillet-2023-plats-ecrevisse2.jpg";
---
<Layout title="Le pavillon gourmand">
  <Hero bgImage={HeroImage}>
    <h1
      class="uppercase text-white font-bold text-3xl absolute bottom-20 left-10 font-changa"
    >
      Restaurant
      <br />
       gastronomique
      <br />
       Végétal & lacustre
      <br />
       3* Michelin Annecy
    </h1>
  </Hero>
  <Lieu />
  <SplitSection
    title="Un moment"
    bgColor="#251715"
    bgImage={Ecrevisse2Image}
    isInverted
  >
    Par le prisme culinaire, entre pudeur et force vitale, le monde du vivant
    s'exprime jusqu'à la quintessence. Sublimé, il livre son émotion ultime.
  </SplitSection>
  <SplitSection title="Nous trouver" bgColor="#142C08">
    Un lieu unique dans un écrin de nature.
    <Location slot="right" />
  </SplitSection>
</Layout>
