---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Homepage/Hero.astro";
import Lieu from "../components/Homepage/Lieu.astro";
import Moment from "../components/Homepage/Moment.astro";
import NousTrouver from "../components/Homepage/NousTrouver.astro";
---

<Layout title="Le pavillon gourmand">
  <main>
    <Hero />
    <Lieu />
    <Moment />
    <NousTrouver />
    <Footer />
  </main>
</Layout>