---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import HeroImage from "../assets/images/le+clos+des+sens+juin+2022+salle-37.jpg";
import SplitSection from "../components/SplitSection.astro";
import TerroirImage from "../assets/images/le+clos+des+sens+juin+2022+salle-37.jpg"
import Hero from "../components/Hero.astro";
---

<Layout title="Un moment | Le pavillon gourmand">
  <main>
    <Hero bgImage={HeroImage} />
    <SplitSection
      title="Âme végétale et lacustre"
      bgColor="#251715"
      bgImage={TerroirImage}
    >
      Reflet d'un garde-manger nourricier, la cuisine, brut et authentique
      dessine ses lignes dans ses courbes sauvages et charnelles sans contour.
    </SplitSection>
    <SplitSection
      title="La cueillette"
      bgColor="#251715"
      bgImage={TerroirImage}
      isInverted
    >
      Inspiration quotidienne, dans son jus, le végétal s'exprime au gré du
      temps, dans ses moindres mouvements, discret ou profus, libre d'être soi.
    </SplitSection>
    <SplitSection
      title="Verre du terroir"
      bgColor="#251715"
      bgImage={TerroirImage}
    >
      Explorer un territoire et rendre à la vigne la beauté des racines locales,
      les cépages d'ici, écho aux flacons d'ailleurs, la pertinence d'une équipe
      sommelière en totale cohérence
    </SplitSection>
    <Footer />
  </main>
</Layout>