---
import { Image } from "astro:assets";
import GaultMillau from "../assets/svgs/gault-millau.svg"
import RelaisChateaux from "../assets/svgs/relais-chateaux.svg"
import Michelin from "../assets/svgs/michelin-2023.svg"
import EcoTable from "../assets/svgs/ecotable.svg"

---
<footer class="bg-black flex flex-col w-full">
  <div class="flex justify-center items-center p-8 py-16 gap-4 md:gap-40 bg-[#1E1E1E]">
    <Image src={RelaisChateaux} alt="Relais & Châteaux" />
    <Image src={Michelin} alt="Michelin 2023" />
    <Image src={GaultMillau} alt="Gault&Millau"/>
    <Image src={EcoTable} alt="Écotable"/>
  </div>
  <div class="text-white font-open flex flex-row justify-between items-end h-40 p-8">
    <p>Le pavillon gourmand</p>
    <div id="wcb" class="carbonbadge wcb-d"></div>
    <a href="#legal">mentions légales</a>
  </div>
</footer>
