---
import { Image } from "astro:assets";
import Logo from "../assets/svgs/logo.svg";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<header>
  <nav class="text-white">
    <div class="flex justify-between items-center relative">
      <a href="/" class="flex text-xl font-bold">
        <Image src={Logo} alt="Le pavillon gourmand" class="h-8" />
         Le pavillon gourmand
      </a>
      <div class="hidden md:flex space-x-4">
        <a
          href="/lieu"
          class=`nav-link text-xl ${currentPage === "/lieu" ? "active" : ""}`
          >Un lieu</a
        >
        <a
          href="/moment"
          class=`nav-link text-xl ${currentPage === "/moment" ? "active" : ""}`
          >Un moment</a
        >
        <a
          href="/contact"
          class=`nav-link text-xl ${currentPage === "/contact" ? "active" : ""}`
          >Nous trouver</a
        >
      </div>

      <!-- Mobile menu items -->
      <label for="menu-toggle" class="cursor-pointer md:hidden block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </label>
      <input type="checkbox" id="menu-toggle" class="hidden" />

      <div
        id="menu"
        class="hidden md:hidden absolute top-full left-0 right-0 flex flex-col items-center space-y-4 py-4"
      >
        <a href="/lieu" class="nav-lin">Un lieu</a>
        <a href="/moment" class="nav-link">Un moment</a>
        <a href="/contact" class="nav-link">Nous trouver</a>
      </div>
    </div>
  </nav>
</header>

<style>
  .nav-link {
    position: relative;
  }

  .nav-link.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
  }

  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .active::after {
    width: 100%;
  }

  #menu-toggle:checked + #menu {
    display: flex;
  }
</style>
