---
import Header from "./Header.astro";

interface Props {
  currentPage?: string;
  bgImage: ImageMetadata;
}

const { currentPage = "", bgImage } = Astro.props;
---

<section
  id="hero"
  class="p-6 relative bg-cover bg-center w-full h-screen"
  style={`background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(${bgImage.src})`}
>
  <Header currentPage={currentPage}/>
  <slot />
</section>
