---
import { Image } from "astro:assets";
import Header from "./Header.astro";

interface Props {
  currentPage?: string;
  bgImage: ImageMetadata;
  bgImageMobile: ImageMetadata;
}

const { currentPage = "", bgImage, bgImageMobile } = Astro.props;
---

<section
  class="p-6 relative bg-cover bg-center w-full h-screen overflow-hidden"
>
  <picture>
    <source media="(max-width: 799px)" srcset={bgImageMobile.src} />
    <source media="(min-width: 800px)" srcset={bgImage.src} />
    <Image src={bgImage} alt="Background image" class="w-full h-full object-cover" />
  </picture>
  <Header currentPage={currentPage} />
  <slot />
</section>

<style>
  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>