---
import { Image } from "astro:assets";
import LocationImage from "../assets/images/13_rue_jean_mermoz_annecy.jpg";
---

<a
  href="https://www.google.fr/maps/place/13+Rue+Jean+Mermoz,+74940+Annecy/@45.9133475,6.1344473,15z/data=!4m6!3m5!1s0x478b8f97b4101279:0x418b6fff14048374!8m2!3d45.9178114!4d6.1444284!16s%2Fg%2F11c43sdy2y?entry=ttu"
  target="_blank"
  class="w-full h-full"
>
  <Image
    src={LocationImage}
    alt={"Adresse le pavillon gourmand. 13 rue jean mermoz"}
    class="w-full h-full object-cover"
  />
</a>
