---
import { Image } from "astro:assets";
interface Props {
  title: string;
  bgColor: string;
  bgImage: ImageMetadata;
  isInverted?: boolean;
}

const { title, bgColor, bgImage, isInverted = false } = Astro.props;
---

<section
  class="flex flex-col md:flex-row w-full h-screen"
  style=`background-color: ${bgColor}`
>
  {
    isInverted && (
      <div
        class="flex-1 bg-cover bg-center"
        style={`background-image: url(${bgImage.src})`}
      ></div>
    )
  }
  <div class="flex-1 flex items-center gap-2">
    <div class="text-[#F2F2F2] p-8 md:p-16 max-w-md">
      <h2 class="uppercase font-bold text-2xl">{title}</h2>
      <slot />
    </div>
  </div>
  {
    !isInverted && (
      <div
        class="flex-1 bg-cover bg-center"
        style={`background-image: url(${bgImage.src})`}
      ></div>
    )
  }
</section>
